<div class="main" id="projects">
  <h1 class="project-title">My Work 📂</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="project_c" *ngFor="let projects of projects">
        <div class="col-md-4">
          <a href="{{projects.link}}" class="card-link">
            <div class="card" style="width: 22rem;">
              <img src="{{projects.image}}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title" style="color: black;">{{projects.title}}</h5>
                <p class="card-text" style="color: #525b64;">{{projects.desc}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="repo-cards-div-main">
  </div>
  <div class="project-button"><a class="main-button" href="https://github.com/PriyaankSinha" target="_blank">More
      Projects</a></div>
</div>